{% extends "base.html" %}
{% block title %}Change your password{% endblock %}
{% block content %}

        <div class="card card_border py-2 mb-4" style="width: 400px">
                <div class="cards__heading">
                    <h3>Change your password <span></span></h3>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                    </ul>
                    <br>
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}" class="input__label">{{ field.label }}</label>
                            <input type="password" class="form-control input-style" id="{{ field.id_for_label }}"
                                   name="{{ field.name }}" placeholder="Password" required>
                            <small id="emailHelp" class="form-text text-muted">{{ field.errors }}</small>
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-style mt-4">Change</button>
                    </form>
                </div>
            </div>
{% endblock %}