{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}

        <div class="card card_border py-2 mb-4" style="width: 400px">
                <div class="cards__heading">
                    <h3>Reset your password<span></span></h3>
                </div>
                <div class="card-body">
                    <br>
                {% if validlink %}
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group">
                            <label for="id_old_password1" class="input__label">{{ field.label }}</label>
                            <input type="password" class="form-control input-style" id="id_old_password1"
                                   name="{{ field.name }}" placeholder="{{ field.placeholder }}" required>
                            <small id="emailHelp" class="form-text text-muted">{{ field.errors }}</small>
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-style mt-4">Change my password</button>
                    </form>
                {% else %}
                 <p>The password reset link was invalid, possibly because it has
            already been used. Please request a new password reset.</p>  {% endif %}
                </div>
            </div>
{##}
{#    {% if validlink %}#}
{#        <p>Please enter your new password twice:</p>#}
{#        <form method="post">#}
{#            {{ form.as_p }}#}
{#            {% csrf_token %}#}
{#            <p><input type="submit" value="Change my password"/></p>#}
{#        </form>#}
{#    {% else %}#}
{#        <p>The password reset link was invalid, possibly because it has#}
{#            already been used. Please request a new password reset.</p>#}
{#    {% endif %}#}
{% endblock %}