{% load thumbnail %}
{% with user=action.user profile=action.user.profile %}
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-2">
      <img src="{% thumbnail user.profile.photo "80x100" crop="100%"%}" class="card-img" alt="{{ user.get_full_name }}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ user.get_full_name }}</h5>
        <p class="card-text">
      {{ action.verb }}
      {% if action.target %}
        {% with target=action.target %}
          <a href="{{ target.get_absolute_url }}">{{ target }}</a>
        {% endwith %}
      {% endif %}
        </p>
        <p class="card-text"><small class="text-muted">{{ action.created|timesince }} ago</small></p>
      </div>
    </div>
  </div>
</div>
{% endwith %}

