{% load thumbnail %}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
{% load static %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}{% endblock %}</title>

  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'css/style-starter.css' %}">

  <!-- google fonts -->
  <link href="//fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/post.css' %}">

</head>

<body class="sidebar-menu-collapsed">
<div class="se-pre-con"></div>
<section>
  <!-- sidebar menu start -->
  <div class="sidebar-menu sticky-sidebar-menu">

    <!-- logo start -->
{#    <div class="logo">#}
{#      <h1><a href="index.html">Collective</a></h1>#}
{#    </div>#}

  <!-- if logo is image enable this -->
    <!-- image logo -->
    <div class="logo">
      <a href="{% url 'dashboard' %}">
        Django 3.0
      </a>
    </div>
    <!-- //image logo -->

    <div class="logo-icon text-center">
      <a href="{% url 'dashboard' %}" title="logo"><img src="{% static 'images/logo.png' %}" alt="logo-icon"> </a>
    </div>
    <!-- //logo end -->

    <div class="sidebar-menu-inner">

      <!-- sidebar nav start -->
        {% if request.user.is_authenticated %}
      <ul class="nav nav-pills nav-stacked custom-nav">
              <li><a href="{% url 'dashboard' %}"><i class="fa fa-tachometer"></i><span> My profile</span></a></li>
          <li class="menu-list">
              <a href="#"><i class="fa fa-newspaper-o"></i>
                  <span> What`s new?<i class="lnr lnr-chevron-right"></i></span></a>
              <ul class="sub-menu-list">
                  <li><a href="{% url 'posts:list' %}">Feed</a></li>
                  <li><a href="{% url 'action_follow' %}">Action</a></li>
              </ul>
          </li>
        <li><a href="{% url 'following' %}"><i class="fa fa-users"></i> <span>Following</span></a></li>
        <li class="active"><a href="{% url 'followers' %}"><i class="fa fa-user-circle"></i> <span>Followers</span></a></li>

      </ul>
        {% endif %}
      <!-- //sidebar nav end -->
      <!-- toggle button start -->
      <a class="toggle-btn">
        <i class="fa fa-angle-double-left menu-collapsed__left"><span>Collapse Sidebar</span></i>
        <i class="fa fa-angle-double-right menu-collapsed__right"></i>
      </a>
      <!-- //toggle button end -->
    </div>
  </div>
  <!-- //sidebar menu end -->
  <!-- header-starts -->
  <div class="header sticky-header">

    <!-- notification menu start -->
      {% if request.user.is_authenticated %}
    <div class="menu-right">
      <div class="navbar user-panel-top">
        <div class="search-box">
          <form action="{% url "search" %}" method="get">
            <input class="search-input" placeholder="Search Here..." type="search" id="search" name="s">
            <button class="search-submit" value=""> <span class="fa fa-search"> </span></button>
          </form>
        </div>
        <div class="user-dropdown-details d-flex">
          <div class="profile_details_left">
            <ul class="nofitications-dropdown">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                    class="fa fa-bell-o"></i><span class="badge blue">{{ actions_count.count }}</span></a>
                <ul class="dropdown-menu">
                {% if notifications %}
                    {% for notification in notifications %}
                        {% with user=notification.user profile=notification.user.profile %}
                            <li><a href="{{ notification.target.get_absolute_url }}" class="grid">
                                <div class="user_img"><img src="{% thumbnail user.profile.photo "80x80" crop="100%" %}"
                                                           alt=""></div>
                                <div class="notification_desc">
                                    <p>{{ user.username }} {{ notification.verb }} {{ notification.target }}</p>
                                    <span>{{ notification.created|timesince }} ago</span>
                                </div>
                            </a></li>
                        {% endwith %}
                    {% endfor %}
                    {% endif %}
                  <li>
                    <div class="notification_bottom">
                      <a href="{% url 'action_follow' %}" class="bg-primary">See all notifications</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="profile_details">
            <ul>
              <li class="dropdown profile_details_drop">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3" aria-haspopup="true"
                  aria-expanded="false">
                  <div class="profile_img">
                    <img src="{{ request.user.profile.photo.url }}" class="rounded-circle" alt="" />
                    <div class="user-active">
                      <span></span>
                    </div>
                  </div>
                </a>
                <ul class="dropdown-menu drp-mnu" aria-labelledby="dropdownMenu3">
                  <li class="user-info">
                    <h5 class="user-name">{{ request.user.username }}</h5>
                    <span class="status ml-2">Available</span>
                  </li>
                  <li> <a href="{% url 'dashboard' %}"><i class="lnr lnr-user"></i>My Profile</a> </li>
                  <li> <a href="{% url "password_change" %}"><i class="lnr lnr-cog"></i>Setting</a> </li>
                  <li> <a href="{% url 'edit' %}"><i class="lnr lnr-pencil"></i>Edit profile</a> </li>
                  <li class="logout"> <a href="{% url 'logout' %}"><i class="fa fa-power-off"></i> Logout</a> </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
      {% endif %}
    <!--notification menu end -->
  </div>
  <!-- //header-ends -->
<!-- main content start -->
<div class="main-content">

  <!-- content -->
  <div class="container-fluid content-top-gap">

    <!-- pricing -->
    <section class="pricing" style="min-height: 600px;">
    {% block content %}
    {% endblock %}
    </section>

    </section>
    <!-- //pricing -->

  </div>
  <!-- //content -->

</div>
<!-- main content end-->
</section>
<!--footer section start-->
<footer class="dashboard">
  <p>&copy 2020 <a href="https://www.devback.online">Ivan Shchankin</a>. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank"
      class="text-primary">W3layouts.</a></p>
</footer>
<!--footer section end-->
<!-- move top -->
<button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
  <span class="fa fa-angle-up"></span>
</button>
<script>
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction()
  };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("movetop").style.display = "block";
    } else {
      document.getElementById("movetop").style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
<!-- /move top -->


<script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
<script src="{% static 'js/jquery-1.10.2.min.js'%}"></script>

<!-- chart js -->
<script src="{% static 'js/Chart.min.js'%}"></script>
<script src="{% static 'js/utils.js'%}"></script>
<!-- //chart js -->

<!-- Different scripts of charts.  Ex.Barchart, Linechart -->
<script src="{% static 'js/bar.js'%}"></script>
<script src="{% static 'js/linechart.js'%}"></script>
<!-- //Different scripts of charts.  Ex.Barchart, Linechart -->


<script src="{% static 'js/jquery.nicescroll.js'%}"></script>
<script src="{% static 'js/scripts.js'%}"></script>

<!-- close script -->
<script>
  var closebtns = document.getElementsByClassName("close-grid");
  var i;

  for (i = 0; i < closebtns.length; i++) {
    closebtns[i].addEventListener("click", function () {
      this.parentElement.style.display = 'none';
    });
  }
</script>
<!-- //close script -->

<!-- disable body scroll when navbar is in active -->
<script>
  $(function () {
    $('.sidebar-menu-collapsed').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll when navbar is in active -->

 <!-- loading-gif Js -->
 <script src="{% static 'js/modernizr.js' %}"></script>
 <script>
     $(window).load(function () {
         // Animate loader off screen
         $(".se-pre-con").fadeOut("slow");;
     });
 </script>
 <!--// loading-gif Js -->

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>


  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
  <script>
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });

    $(document).ready(function(){
      {% block domready %}
      {% endblock %}
    });
  </script>
<script src="{% static 'js/actions.js' %}"></script>

</body>
</html>